.wrapper {
  .container {
    padding-top: 200px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;

      select {
        width: 400px;
      }

      img {
        width: 300px;
        height: 350px;
      }
    }

    .charts {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-gap: 10px;

      .chart {
        grid-column: span 6;
      }
    }
  }
}
