input,
textarea {
  border: 1px solid black;
  height: 50px;
  padding-inline: 20px;
  border-radius: 4px;
  outline: 2px solid transparent;
  transition: 0.4s ease;
}

input:focus,
textarea:focus {
  border: 3px solid green;
  transition: 0.4s ease;
}

a {
  transition: all 1s ease;
  color: black;
  border-bottom: 1px solid transparent;
}

a:hover {
  transition: all 1s ease;
}

img {
  object-fit: cover;
  max-inline-size: 100%;
  block-size: auto;
}

select {
  appearance: none;
  border: 1px solid green;
  padding: 20px;
  cursor: pointer;
  outline: none;
}

option {
  appearance: none;
}

li {
  list-style: none;
}
