.title {
  font-family: "RedRose-Medium";
  font-size: clamp(2rem, 10vw, 2.453125em);
  font-style: normal;
  font-weight: 700;
  line-height: 42.39px; /* 108% */
  letter-spacing: -1.069px;
  text-transform: uppercase;
  color: var(--green);
}

.logo {
  font-family: "RedRose-Medium";
  font-size: 1.5596875em;
  font-style: normal;
  font-weight: 700;
  line-height: 42.39px; /* 108% */
  letter-spacing: -1.069px;
  text-transform: uppercase;
  color: var(--green);
}

.p_small_grey {
  /* p_small */
  font-family: "Roboto-Regular";
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--grey);
}
.p_small_green {
  /* p_small */
  font-family: "Roboto-Regular";
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  color: var(--green);
}

.p_header {
  font-family: "Roboto-Regular";
  font-size: 0.875em;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
  color: var(--green);
}

.p_small_CAP {
  /* p_small_CAP */
  font-family: "Roboto-Regular";
  font-size: 0.75em;
  font-style: normal;
  font-weight: 400;
  line-height: 14px; /* 116.667% */
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #18592a;
}

.p_root {
  font-family: "Roboto-Regular";
  font-size: 0.875em;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: var(--green);
}

h1 {
  font-size: clamp(3em, 5vw, 4em);
}

h2 {
  font-size: clamp(2.5em, 5vw, 3em);
}

h3 {
  font-size: clamp(2em, 5vw, 2.5em);
}

h4 {
  font-size: clamp(1.5em, 5vw, 2em);
}

h5 {
  font-size: clamp(1em, 5vw, 1.5em);
}

h5 {
  font-size: clamp(1.2em, 5vw, 1.5em);
}

h6 {
  font-size: clamp(1em, 5vw, 1.2em);
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "Roboto-Bold";
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
  font-family: "Roboto-Black";
  src: url(../fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-Regular";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
  font-family: "RedRose-Bold";
  src: url(../fonts/Red_Rose/static/RedRose-Bold.ttf);
}

@font-face {
  font-family: "RedRose-Light";
  src: url(../fonts/Red_Rose/static/RedRose-Light.ttf);
}

@font-face {
  font-family: "RedRose-Medium";
  src: url(../fonts/Red_Rose/static/RedRose-Medium.ttf);
}

@font-face {
  font-family: "RedRose-Regular";
  src: url(../fonts/Red_Rose/static/RedRose-Regular.ttf);
}

@font-face {
  font-family: "RedRose-SemiBold";
  src: url(../fonts/Red_Rose/static/RedRose-SemiBold.ttf);
}

@font-face {
  font-family: "Libre";
  src: url(../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}
