@keyframes slide_in {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide_out {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

.wrapper {
  height: 60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;

  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: center;
    height: inherit;
    width: 100%;
    position: relative;

    .icon {
      display: flex;
      align-items: center;
      gap: 10px;
      justify-self: flex-start;
      background-image: url("../../assets/icons/menu-burger.svg");
      grid-column: span 3;
      cursor: pointer;

      span {
        border: 1px solid var(--green);
        padding: 10px;
        border-radius: 30px;
        padding-block-start: 5px;
        padding-block-end: 5px;
        font-size: 0.8em;
        user-select: none;

        &:hover {
          outline: 1px solid var(--green);
        }
      }
    }

    .logo_div {
      grid-column: span 6;
      display: flex;
      justify-self: center;
    }

    .seal_div {
      display: flex;
      justify-self: flex-end;
      width: 40px;
      height: 40px;
      grid-column: span 3;

      img {
        width: 100%;
      }
    }

    .dropdown {
      position: absolute;
      background-color: var(--light_green);
      top: 60px;
      width: 100%;
      padding-block-start: 20px;
      padding-block-end: 20px;
      height: 100vh;

      .links {
        display: grid;

        .navlink {
          color: white;
          font-size: bold;
          padding-block-start: 10px;
          padding-block-end: 10px;
          padding-inline-start: 20px;

          &:hover {
            background-color: var(--green);
          }
        }
      }
    }

    .menu {
      display: none;
    }
  }
}

.add_shadow {
  box-shadow: var(--box-shadow);
}

@media screen and (min-width: 60em) {
  .wrapper {
    height: 60px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: white;

    .container {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      place-items: center;
      justify-self: center;
      height: inherit;
      width: 100%;
      position: relative;

      .icon {
        display: none;
      }

      .logo_div {
        grid-column: span 3;
        display: flex;
        justify-self: flex-start;
        height: 60px;
      }

      .seal_div {
        display: flex;
        align-self: center;
        justify-self: center;
        width: 90px;
        height: 90px;
        grid-column: span 6;
        background-color: white;
        border-radius: 50px;
        position: relative;
        top: 15px;

        img {
          width: 100%;
        }
      }

      .dropdown {
        display: none;
      }

      .menu {
        display: flex;
        grid-column: span 3;
        height: 45px;
        justify-self: flex-end;
        .links {
          display: flex;
          gap: 16px;
          height: 60px;

          .navlink {
            white-space: nowrap;
            position: relative;

            &::before {
              content: "";
              width: 0%;
              background-color: var(--light_green);
              height: 1px;
              position: absolute;
              top: 25px;

              &:hover {
                width: 100%;
              }
            }

            &:hover {
              color: var(--light_green);
            }
          }
        }
      }
    }
  }
}
